<p id="notice"><%= notice %></p>
<ul>
  <div id="cart-show-page">
    <div class="col-lg-6 ">
      <% @cart.line_items.each do |line_item| %>
        <div class="row cart-view">
          <div class="col-sm-4">
            <% if line_item.product.image? %>
              <div class="cart-image">
                <%= image_tag line_item.product.image.url %>
              </div>
            <% end %> 
          </div>
          <div class="col-sm-4">
            <h2><%= line_item.product.p_name %> </h2>
            <h4>Price: <%= line_item.product.p_price %></h4>
          </div>
          <div class="col-sm-4">
            <p class='lineItem-id'><%= line_item.id %></p>
            <p class="cart-remove-btn">
              <%=  image_tag("minus.png", class: 'remove_cart') %>
            </p>
            <p>Quantity: <span class='quantity'><%= line_item.quantity %></span></p>
            <span class="cart-add-btn"> <%= image_tag("add.png")%>
            </span>
            <span class="cart-remove-btn-1">
              <%= image_tag("minus.png") %>
            </span>
            <p>Total Price: <span class="total_price"><%= (line_item.total_price) %></span>
            </p>
          </div>
        </div>
      <% end %>
    <div>
  </div>
</ul>
<h3>Sub total: <span id="sub_total"><%= @cart.sub_total %></span></h3>
<%# <%= link_to "Proceed to checkout", new_order_path %>
<%= button_to "Proceed to checkout", charges_path, remote: true, data: {disable_with: "validating..."} %><br>
<span class="parent">
<span class="cart-id"><%= @cart.id%></span>
<span id="emp-cart"><%= "Empty cart" %></span></span>