<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 
  <div class="field">
  <%= form.file_field :image %>
  <% if @product.image? %>
  <%= image_tag @product.image.url%>
  <%= form.check_box :remove_image %>
  Remove image
  <% end %>
  </div>
  <div class="field">
  <%= form.label :Category %>
  <%= form.select :category_id, Category.pluck(:c_name, :id) %>
  </div>
  <div class="field">
  <%= form.label :Qauntity %>
  <%= form.text_field :qauntity, id: :product_qauntity %>
</div>

  <div class="field">
    <%= form.label :p_name %>
    <%= form.text_field :p_name, id: :product_p_name %>
  </div>

  <div class="field">
    <%= form.label :p_price %>
    <%= form.text_field :p_price, id: :product_p_price %>
  </div>

  <div class="field">
    <%= form.label :p_details %>
    <%= form.text_area :p_details, id: :product_p_details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

