<p id="notice"><%= notice %></p>
<div class="container">
  <div class="show-image">
    <% if @product.image? %>
      <%= image_tag @product.image.url %>
    <% end %>
  </div>
  <div class="show-card-id">
    <p><strong> Name:</strong><%= @product.name %></p>
    <p><strong>Price:</strong><%= @product.price %></p>
    <p><strong>Details:</strong><%= @product.details %></p><br>
    <%if current_user %>
      <% if !(@product.user_id == current_user.id) %>
        <p class='show-card-id'><%=@product.id%></p>
        <span class='show-item'> Add to cart</span>
      <%end%>
    <%end%>
  </div>
  <h2 class="comments-1">Comments</h2>
  <% @product.prcomments.each do |comment| %>
    <p><strong>Comment:</strong><%= comment.body %></p>
  <% end %>
  <h2>Add a comment:</h2>
  <%= form_with(model: [ @product, @product.prcomments.build ]) do |form| %>
    <p><%= form.label :body %><br><%= form.text_area :body %></p>
    <p><%= form.submit %></p>
  <% end %>
</div>
<%if current_user %>
  <% if (@product.user_id == current_user.id) %>
    <%= link_to 'Edit', edit_product_path(@product) %> 
  <%end%>
<%end%>
<%= link_to 'Back', products_path %>
