<p id="notice"><%= notice %></p>
<div class="container">
  <div class="show-image">
    <% if @product.image? %>
      <%= image_tag @product.image.url %>
    <% end %>
  </div>
  <div class="show-card-id">
    <p><strong> Name:</strong><%= @product.name %></p>
    <p><strong>Price:</strong><%= @product.price %></p>
    <p><strong>Details:</strong><%= @product.details %></p><br>
    <%= show_page_btn %>
  </div>

  <h2 id="comments-1">Comments</h2>
  <div id='comments'>
      <%= render @product.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
  </div>
      <%= render partial: 'comments/form', locals: {product: @product, parent: nil}%>
</div>
<%= show_page_edit_btn %>
<%= link_to 'Back', products_path %>
